body {
	font-family: Raleway;
}

/*顶栏CSS样式*/
#square {
	height: 10%;
}

#log-button {
	display: inline;	
	font-size: 2rem;
}

#se {
	font-size: 1.5vh;
	height: 3%;
	margin: 0;
}

a {
	color: white;
}

#header {
	background-color: #f4f3f1;
}

.e {
	opacity: 0;
}

.option {
	margin-top: 1rem;
	font-size: 2rem;
}

#fir {
	font-size: 3.5vh;
}

/******菜单********/
#menu {
	float: left;
	width: 5%;
	height: 100%;
	background-color: rgba(244,243,241,0.5);
	z-index: 1;
	display: none;
}

.item {
	width: 30%;
	margin-top: 40%;
	margin-bottom: 40%;
	cursor: pointer;
	opacity: 1;
}

center:hover {
	background-color: white;
}


/***地图样式*****/

#container {
	height: 85%;
	width: 80%;
}

#background {
	height: 100%;
	width: 100%;
	display: block;
	max-width: 100%；
}



/****图标样式******/
.icon {
	height: 18%;
	position: absolute;
	cursor: pointer;
}

#一食堂 {
	height: 6.5%;
	bottom: 42%;
	left: 50.3%;
}

#二食堂 {
	height:11%;
	bottom: 25%;
	left: 44%;
}

#信操 {
	height:23%;
	bottom: 26%;
	left: 60.5%;

}

#信部篮球场 {
	height:10%;
	bottom: 33%;
	left: 65%;
	opacity: 0;
}

#网安操场 {
	height:20%;
	bottom: 37%;
	left: 29%;
}

#网安教学楼 {
	height:8.5%;
	bottom:28%;
	left:34.5%;
}

#青楼 {
	height:8%;
	right: 29.2%;
	top: 73%;
}

#德仁 {
	height:8%;
	bottom:55%;
	left: 48%;
}

#星湖园 {
	height:6%;
	bottom: 71%;
	left: 58.3%;
}

#图书馆 {
	height: 7.5%;
	bottom: 53%;
	left: 60.3%;
}

#星湖 {
	height: 10%;
	bottom:27%;
	left: 51%;
}

#友谊广场 {
	height: 13%;
	bottom:0.4%;
	left:60.3%;
}

#游泳池 {
	height: 10%;
	bottom:50%;
	left:41%;
}


/****报告样式***/

#report {
	position: absolute;
	top: 70%;
	left: 40%;
	width: 20%;
	border-radius:5px;
	background-color: white;
	padding-top: 3%;
	padding-bottom: 3%;
	opacity: 0.5;
}

.placeSty {
	color: blue;
}

.thingSty {
	color: red;
}