<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>印记</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../website/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../website/static/css/styleOfframe.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<!--顶部导航栏-->
<div class =  "navbar-fixed">
    <nav class="blue" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">记录</a></li>
                <li><a href="#">印记</a></li>
                <li><a href="#">今天</a></li>
                <li><a href="#">发现</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">记录</a></li>
                <li><a href="#">印记</a></li>
                <li><a href="#">今天</a></li>
                <li><a href="#">发现</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<!--主体内容-->



<!--底部栏-->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">时空珞珈</h5>
                <p class="grey-text text-lighten-4">关于“珞珈印象”这么一个主题，我们思考了很久：在视觉上经典的绿瓦和牌坊，象征中不变的樱花和东湖水之外，珞珈给予我们的、我们留在珞珈的，究竟是什么？
                    这一次的网页设计就代表了我们的答案——我们在珞珈的时光</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <h5 style = "display: inline-block;">编程哲学</h5>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../website/static/js/materialize.js"></script>
<script>
    (function($){
        $(function(){

            $('.button-collapse').sideNav();
            $('.parallax').parallax();

        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>

</body>
</html>