<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>frame</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../website/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../website/static/css/styleOfframe.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<!--顶部导航栏-->
<div class =  "navbar-fixed">
    <nav class="blue" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">记录</a></li>
                <li><a href="#">印记</a></li>
                <li><a href="#">今天</a></li>
                <li><a href="#">发现</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">记录</a></li>
                <li><a href="#">印记</a></li>
                <li><a href="#">今天</a></li>
                <li><a href="#">发现</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<!--主体内容-->
<div class="carousel">
    <a class="carousel-item" href="#one!">
        <div class="modal-content">
            <h4>欢迎体验时空珞珈</h4>
            <p>点击地标，记录您在哪、做什么，创建您自己的个性化体验</p>
        </div>
    </a>
    <a class="carousel-item" href="#two!"><div><h1>hhh1</h1></div></a>
    <a class="carousel-item" href="#three!"><div><h1>hhh1</h1></div></a>
    <a class="carousel-item" href="#four!"><div><h1>hhh1</h1></div></a>
    <a class="carousel-item" href="#five!"><div><h1>hhh1</h1></div></a>
</div>



<!--底部栏-->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">时空珞珈</h5>
                <p class="grey-text text-lighten-4">关于“珞珈印象”这么一个主题，我们思考了很久：在视觉上经典的绿瓦和牌坊，象征中不变的樱花和东湖水之外，珞珈给予我们的、我们留在珞珈的，究竟是什么？
                    这一次的网页设计就代表了我们的答案——我们在珞珈的时光</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <h5 style = "display: inline-block;">编程哲学</h5>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../website/static/js/materialize.js"></script>
<script>
    (function($){
        $(function(){

            $('.button-collapse').sideNav();
            $('.parallax').parallax();

        }); // end of document ready
    })(jQuery); // end of jQuery name space
    <!--modal-->
    $(document).ready(function(){
        // .modal-trigger类所在的a标签的href属性必须制定模态框的id才能被触发。
        $('.modal').modal({
            dismissible: false, // 点击模态外面模态消失关闭
            opacity: .5, // 相对于背景的不透明度
            in_duration: 300, // 显示特效的时间
            out_duration: 200, // 消失特效时间
            starting_top: '4%', // 启动时的样式属性
            ending_top: '10%', // 结束时的样式属性

        });
        $('.open').on('click', function() {
            $('#modal1').modal('open');
        });
        $('.close').on('click', function() {
            $('#modal2').modal('close');
        });


        $(document).ready(function() {

            $('select').material_select();

        });


        $(document).ready(function(){
            $('.carousel').carousel();
        });
    });
</script>

</body>
</html>