<!DOCTYPE>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>时空珞珈——登陆</title>

	<!-- CSS  -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="{% static "css/styleOfIndex.css"%}">

	<style>
		input {
			color:white;
		}
	</style>

</head>

<body>



<div id = "log" style = "display: block;">



	<form class = "form-horizontal" method="post" style = "display: inline-block">
		{% csrf_token %}
		<div class = "form-group">
			<label class = "control-label" style = "color: white;">用户名</label>
			<input type = "text" class = "col-md-5 form-control" id = "username" name="username" autocomplete="off">
		</div>

		<div class = "form-group">
			<label class = "control-label" style = "color: white;">密码</label>
			<input type = "password" class = "col-md-5 form-control" id = "password" name="password" autocomplete="off">
		</div>

		<div class = "form-group">
			<button type = "submit" class = "btn offset-s3 form-control" id = "submit-btn">登陆</button>
		</div>

	</form>
</div>

<div class = "pic">
	<img src = "{% static "pic/picOfIndex/back.png"%}" id = "back" class = "img-responsive"  style = "display:block; width:100%; max-width:100%; height:100%;">
	<img src = "{% static "pic/picOfIndex/cloud.png"%}" id = "cloud">
	<img src = "{% static "pic/picOfIndex/cloud.png"%}" id = "cloud2">
	<img src = "{% static "pic/picOfIndex/p1.png"%}" id = "p1">
	<img src = "{% static "pic/picOfIndex/p2.png"%}" id = "p2">
	<img src = "{% static "pic/picOfIndex/line.png"%}" id = "line">
	<img src = "{% static "pic/picOfIndex/l.png"%}" id = "l">
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(document.body).css({
        "overflow-x":"hidden",
        "overflow-y":"hidden"
    });
</script>

</body>

</html>