<!DOCTYPE>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>时空珞珈——发现</title>
    <link rel="stylesheet" href="{% static "css/styleOfInfo.css" %}">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway'>

    <!--引用vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> 

    <!--Jquery-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <!--顶栏-->
    <div class = "container-fluid">
        <div class = "row" id = "header">   
            <a href = "index.html"><span class = "col-md-1" style = "padding: 0;"><img src = "{% static "pic/picOfMap/blue square.png" %}" id = "square"></span></a>
            <span class = "option col-md-5" id = "Map"><p id = "fir" style = "display: inline-block;margin: 0;">{{ hello }} ，小王</p></span>
        </div>
    </div>

    <!--左边菜单栏-->
    <div style = "position: absolute;" id = "menu">
        <center><a href = "/map/"><img class = "item" src = "{% static "pic/picOfMap/home.png" %}" id = "home"></a></center>
        <center><a href = "/line/"><img class = "item" src = "{% static "pic/picOfMap/Line.png" %}" id = "Line"></a></center>
        <center><a href = "/timeline/"><img class = "item" src = "{% static "pic/picOfMap/light.png" %}" id = "Time-line"></a></center>
        <center><a href = "/infoflow"><img class = "item" src = "{% static "pic/picOfMap/info.png" %}" id = "info flow"></a></center>

        <!--该函数为根据页面变换菜单图标的函数-->
        <script type="text/javascript">
            window.onload = function change1() {
                $(document).ready(function(){
                    $("#menu").fadeIn(3000);
                });
                if(document.title === "时空珞珈——印记") {
                    document.getElementById("Line").src = "{% static "pic/picOfMap/Line-v.png" %}";
                    document.getElementById("home").src = "{% static "pic/picOfMap/home.png" %}";
                    document.getElementById("light").src = "{% static "pic/picOfMap/light.png" %}";
                    document.getElementById("info flow").src = "{% static "pic/picOfMap/info.png" %}";
                }
                if(document.title === "时空珞珈——记录") {
                    document.getElementById("Line").src = "{% static "pic/picOfMap/Line.png" %}";
                    document.getElementById("home").src = "{% static "pic/picOfMap/home-v.png" %}";
                    document.getElementById("light").src = "{% static "pic/picOfMap/light.png" %}";
                    document.getElementById("info flow").src = "{% static "pic/picOfMap/info.png" %}";
                }
                if(document.title === "时空珞珈——今天") {
                    document.getElementById("Line").src = "{% static "pic/picOfMap/Line.png" %}";
                    document.getElementById("home").src = "{% static "pic/picOfMap/home.png" %}";
                    document.getElementById("Time-line").src = "{% static "pic/picOfMap/light-v.png" %}";
                    document.getElementById("info flow").src = "{% static "pic/picOfMap/info.png" %}";
                }
                if(document.title === "时空珞珈——发现")  {
                    document.getElementById("Line").src = "{% static "pic/picOfMap/Line.png" %}";
                    document.getElementById("home").src = "{% static "pic/picOfMap/home.png" %}";
                    document.getElementById("Time-line").src = "{% static "pic/picOfMap/light.png" %}";
                    document.getElementById("info flow").src = "{% static "pic/picOfMap/info-v.png" %}";
                }
        }
            
        </script>

    </div>

    <!--地图-->
    <div>
        <div class = "img-responsive" style = "position: absolute;">
            <img src = "{% static "pic/picOfMap/map.png" %}" id = "background">
        </div> 
    
<div>

    <!--报告浮动窗口-->
    <center>
        <div id = "report">
            <button  class = "btn btn-primary" data-toggle="modal" data-target="#myModal" id = "check-report">查看信息流</button>
        </div>
    </center>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class = "modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center><h4 class="modal-title">发现与你在同时同地，做同样事情的有趣的灵魂</h4></center>
				</div>


				<div class = "modal-body">
                    <ul class="list-group">
                        {% for i in flow %}
                        <li class="list-group-item">
    					    <h4 style = "display: inline-block;">{{ i.username }}</h4>
                            <h4 style="display: inline-block; " id = "pla">{{ i.place }}</h4>
                            <p>{{ i.thought }}</p>
                            <h4 id = "tim">{{ i.date }} &emsp; {{ i.time }}</h4>
                        </li>
                        {% endfor %}
                    </ul>  
		</div>
	</div>
</div>
</div>

    <script>
        $(function(){
            $('#myModal').modal({
            show:true,
            backdrop:true
            })
        });
    </script>


</html>